* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    transition: 1s all;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
#container {
    transition: 1s all;
    height: max-content;
    display: flex;
    flex-direction: column;

    width: 25rem;
    height: 29rem;
    align-items: center;
    gap: 3rem;
    padding: 2rem;
    box-shadow: 0px 0px 1px 1px rgba(73, 70, 70, 0.8);
    border-radius: 1rem;
    position: relative;
    background-color: rgb(236, 238, 240);
}
@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
#container::after, #container::before{
    content: '';
    position: absolute;
    height:100%;
    width: 100%;
    background-image: conic-gradient( from var(--angle),transparent 10%,#d85a28);
    top: 50%;
    left: 50%;
    translate:-50% -50% ;
    z-index: -1;
    padding: 2px;
    border-radius: 1rem;
    animation: 3s spin linear infinite;

}

#container::before{
    filter: blur(0.2rem);
    opacity: 0.5;
}

@keyframes spin {
    from{
        --angle:0deg;
    }
    to{
        --angle:360deg;
    }
}
#inputs {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    height: 2rem;
    width: 24rem;
    border-radius: 0;
    box-shadow: 0px 0px 4px 1px rgba(214, 213, 213, 0.8);
      background-color: rgb(228, 240, 250);
}
#url {
    outline: none;
    height: 2rem;
    width: 20rem;
    border-radius: 0rem 0rem 1rem 0rem;
    border: 0;
    box-shadow: 0px 0px 3px 1px rgba(214, 213, 213, 0.8);
    padding-left: 1rem;
    background-color: transparent ;
}
#url::placeholder {
    font-size: larger;
    font-family: "Courier New", Courier, monospace;
}
h1 {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-family: serif;
}
#submit {
    height: 2rem;
    width: max-content;
    background-color: transparent;
    outline: none;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
#submit > img {
    height: 2rem;
    aspect-ratio: 1/1;
}
#submit:hover {
    transform: scale(1.1);
}

#web {
    font-size: large;
    font-weight: bold;
    font-family: "Courier New", Courier, monospace;
    text-align: center;
    justify-self: end;
}
    
#imageQR {
    transition: 1s all;
    height: 10rem;
    aspect-ratio: 1/1;
    background-clip: image;
}



@media (max-width: 500px) {
    #container {
        width: 15rem;
        gap: 2rem;
        padding: 1rem;
        padding-top: 2rem;
    }

    #inputs {
        width: 14rem;
    }
    #url {
        width: 13rem;
    }
    #url::placeholder {
        font-size: large;
    }
    h1 {
        margin-bottom: 1rem;
        font-size: 1.4rem;
    }
    #web{
        font-size: small;
        width: 12rem;
    }
}
